@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    height:100%;
    background-color: #3d3d3d;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

h1, h2{
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}


.navbar{
    background-color: #232323;
    color: white;
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color:white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px white solid;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.navbar .flex {
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 26px;
}

.showcase{
    color: white;
    background-color: #3d3d3d;
    height:100%;
}

.grid{
    height:100%;

}

.profilepic{
    /*display: block;*/

    max-height: 70px;

    float: left;
    margin-right:10px;
    object-fit: contain;
}

.showcase-about, .showcase-portfolio, .showcase-contact {
    margin-bottom: 20px;
    margin-top:20px;
}


.showcase-about {
    height: 100%;
}

.footer_div{
    display:flex;
    justify-content: flex-end;
    padding: 50px;


}


/* Style all font awesome icons */
.fab {
    padding: 20px;
    margin:10px;
    font-size: 70px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}

/* github */
.fa-github {
    color: white;
}

.fa-linkedin-square {
    color: white;
}


